{
	"presets": ["@babel/preset-env"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"~/components": "./src/components",
					"~/data": "./src/data",
					"~/lib": "./src/lib",
					"~/types": "./src/types",
					"~/utils": "./src/utils"
				}
			}
		]
	]
}
