.Layout {
	border-radius: 20px;
	padding: 2rem;
	width: 380px;

	.header {
		align-items: center;
		display: flex;
		gap: 10px;
		justify-content: space-between;

		&__create-contact__button {
			font-size: 2rem;
			user-select: none;
		}
	}
}
