.fw-w-full {
	width: 100%;
}

.fw-flex {
	display: flex;
}

.fw-hidden {
	display: none;
}

.fw-cursor-pointer {
	cursor: pointer;
}

.fw-text-center {
	text-align: center;
}

.fw-mb-8 {
	margin-bottom: 2rem;
}

.fw-mb-10 {
	margin-bottom: 2.5rem;
}

.fw-my-2 {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.fw-border-0 {
	border: none;
}
