.Layout {
	background: linear-gradient(to left, #ab7adc 0%, #f9edf1 100%);
	border-radius: 20px;
	padding: 2rem;
	width: 380px;

	.header {
		align-content: center;
		display: flex;
		gap: 10px;
		justify-content: space-between;

		&__create-contact__button {
			font-size: 2rem;
			user-select: none;
		}
	}
}
