.search-input {
	background-color: #fff;
	border-radius: 24px;
	border: none;
	color: #3a3a3a;
	letter-spacing: 1px;
	margin: 0.8rem 0 0.5rem;
	outline: none;
	padding: 0.8rem 0 0.8rem 0.8rem;
	width: 100%;
}

.search-input::placeholder {
	color: #3a3a3a;
}
