@use "./spacing-utils.scss";

@for $i from 0 through (12 + 4) {
	$selectorSize: 0;
	$value: 0;
	$unit: #{if($i == 0, "", "rem")};

	@if ($i <= 8) {
		$selectorSize: $i * 0.5;
		$value: #{$i * 0.125}#{$unit};
	} @else if ($i >= 9 & $i <=13) {
		$selectorSize: $i - 4;
		$value: #{$selectorSize * 0.25}#{$unit};
	}

	$selectorSize: spacing-utils.escape-class-name($selectorSize);
	@include spacing-utils.generate-spacing-classes(margin, "x", $selectorSize, $value);
	@include spacing-utils.generate-spacing-classes(margin, "y", $selectorSize, $value);
	@include spacing-utils.generate-spacing-classes(margin, "all", $selectorSize, $value);
	@include spacing-utils.generate-spacing-classes(padding, "x", $selectorSize, $value);
	@include spacing-utils.generate-spacing-classes(padding, "y", $selectorSize, $value);
	@include spacing-utils.generate-spacing-classes(padding, "all", $selectorSize, $value);
}
