.CreateContactModal {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: all 0.4s ease;
	width: 100%;
	z-index: 100;

	&.show {
		display: flex;
		opacity: 1;
		pointer-events: auto;
	}

	&__content {
		background-color: #fff;
		border-radius: 1rem;
		padding: 2rem;
		position: relative;
		width: 500px;

		&__close-btn {
			font-size: 2rem;
			font-weight: bold;
			position: absolute;
			right: 1rem;
			top: 0.5rem;
		}

		&__title {
			margin: 1rem;
			margin-bottom: 2rem;
		}

		&__form {
			display: grid;
			gap: 10px;
			grid-template-columns: 1fr 1fr;

			.gc-full {
				grid-column: 1/3;
			}

			&__box {
				label {
					font-size: .8rem;
					margin-bottom: 12px;
					color: rgba(0, 0, 0, 0.46);
				}
				&__input {
					background: none;
					border-radius: 8px;
					border: none;
					box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
					outline: none;
					padding: 0.8rem;
					width: 100%;
	
					&--whatsapp,
					&--mail,
					&--instagram {
						grid-column: 1 / 3;
					}
				}
			}

			&__submit-btn {
				background: linear-gradient(to left, #91bafa 0%, #c490fe 100%);
				border-radius: 8px;
				box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
				color: #fff;
				cursor: pointer;
				font-weight: 500;
				grid-column: 1 / 3;
				justify-self: flex-end;
				margin-top: 1rem;
				outline: none;
				padding: 0.8rem 2rem;
				text-transform: uppercase;
			}
		}
	}
}
