.ContactsList {
	&__list {
		&__item {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}

			&__header {
				align-items: center;
				display: flex;
				gap: 25px;
				position: relative;

				&__avatar {
					border-radius: 50%;
					border: 2px solid #ccc;
					height: 55px;
					object-fit: cover;
					object-position: center;
					padding: 1px;
					width: 55px;
				}

				&__details {
					flex: 1;

					&__name {
						color: #3a3a3a;
						display: block;
						font-size: 18px;
						font-weight: 500;
					}

					&__tel {
						color: #3a3a3a;
						font-size: 14px;
						font-weight: bold;
						text-decoration: none;
					}
				}
			}

			&__extra-info {
				background-color: #f9edf1;
				border-radius: 20px;
				margin-top: 1rem;
				padding: 10px 15px;
				width: 100%;
			}
		}
	}
}
