.contact__list {
	margin-top: 2rem;

	&__item {
		margin-bottom: 2.5rem;

		&__header {
			cursor: pointer;
			align-items: center;
			display: flex;
			gap: 25px;

			&__avatar {
				border-radius: 50%;
				border: 2px solid #ccc;
				height: 55px;
				object-fit: cover;
				object-position: center;
				padding: 1px;
				width: 55px;
			}

			&__details {
				flex: 1;

				&__name {
					color: #3a3a3a;
					display: block;
					font-size: 18px;
					font-weight: 500;
				}

				&__tel {
					color: #3a3a3a;
					font-size: 14px;
					text-decoration: none;
				}
			}
		}

		&__extra-info {
			background-color: #f9edf1;
			border-radius: 20px;
			margin-top: 1rem;
			width: 100%;
			padding: 10px;
		}
	}
}
